@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

* {
  touch-action: manipulation;
}

html {
  overflow: hidden;
  overscroll-behavior: none;
  position: fixed;
}

body {
  width: 100vw;
  overflow: hidden;
  overscroll-behavior: none;
  touch-action: none;
  position: fixed;
}
