@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}

* { touch-action: manipulation; }

html {
  height: 100svh;
  overflow: hidden;
  overscroll-behavior: none;
  position: fixed;
}

body {
  height: 100svh;
  width: 100vw;
  overflow: hidden;
  overscroll-behavior: none;
  touch-action: none;
  position: fixed;
}
